body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

.nav-wrapper .fa{
  font-size: 25px;
  margin-right: 10px;
}

footer{
  margin-top: 20px;
}

.fab-pos{
  position: absolute;
  right: -5px;
  top: 8px;
}
.card-text{
  height: 100px;
}
.capitalize{
  text-transform: capitalize;
}

#delete-form{
  display: inline;
}