<h1>Add story</h1>

<div class="row">
  <form class="col s12" method="post" action="/stories">
    <div class="row">
      <div class="input-field">
        <input name="title" id="title" type="text" class="validate">
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      <select name="status">
        <option value="public" selected>Public</option>
        <option value="private">Private</option>
        <option value="unpublished">Unpublished</option>
      </select>
      <label>Status</label>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <h5>Tell Us Your Story:</h5>
        <textarea name="body" id="story" class="materialize-textarea" data-length="150"></textarea>
      </div>
    </div>
    <div class="row">
      <p class="center-align">
        <input name="allowComments" type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
        <label for="filled-in-box">Allow comments</label>
      </p>
    </div>
    <input type="submit" value="Save" class="btn col s12">
  </form>
</div>